*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: #E60909;
background: linear-gradient(to bottom, #E60909, #01F327);    
}
.traffic {
    height: calc((50px*3)+30px);
    width: 50px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

.traffic > div {
    /* border: 3px solid black; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* margin:auto; */
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
}

.stand1 {
    height: 100px;
    width: 8px;
    background-color:#000;
    position: absolute;
    left: 35px;
}
.stand2 {
    height: 10px;
    width: 70px;
    border: 2px solid #fff;
    background-color: #000;
    border-radius: 70% 70% 0 0;
    position: relative;
    left: -1px;
    top: 100px;
}

.green {
    background-color: red;
    text-align: center;
    font-size: 23px;
}

.red {
    background-color: green;
    text-align: center;
    font-size: 23px;
}

.yello {
    background-color: yellow;
    text-align: center;
    font-size: 23px;
}

 #traffic1 {
    position: absolute;
    top: 0;
    right: 620px;
} 

#traffic2 {
    position: absolute;
    top: 154px;
    right: 37px;
}

#traffic3 {
    position: absolute;
    bottom: 0;
    right: 620px;
}

#traffic4 {
    position: absolute;
    top: 154px;
    left: 70px;

} 